@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#int {
  color: #6e39ab;
  background-color: #04f2e3;
}

@media screen and ( max-width:320px ){
  .extra-small-margin {
    margin-left: 0 !important;
  }
}

